{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
    <div class="space-y-4 font-mono text-sm">
        {{ form_widget(form) }}
    </div>
    <button type="submit" class="mt-8 w-full py-4 bg-[var(--color-drac-yellow)] text-[var(--color-drac-bg)] font-bold font-mono rounded-lg hover:bg-[var(--color-drac-green)] hover:shadow-[var(--color-drac-green)]/40 transition-all uppercase tracking-widest">
        {{ button_label|default('Deploy_Financial_Node') }}
    </button>
{{ form_end(form) }}
