{% extends 'base.html.twig' %}

{% block title %}Editar Nodo de Categoria - Terminal{% endblock %}

{% block body %}
<main class="flex-grow flex items-center justify-center p-6 bg-[var(--color-drac-bg)] font-mono text-[var(--color-drac-fg)]">
    <div class="w-full max-w-xl bg-[var(--color-drac-surface)] border border-[var(--color-drac-curr)] p-10 rounded-2xl shadow-2xl relative neon-border-purple">
        <div class="mb-10 flex items-center justify-between border-b border-[var(--color-drac-curr)] pb-6">
            <h1 class="text-2xl font-bold text-[var(--color-drac-purple)] uppercase tracking-tighter">
                <span class="text-[var(--color-drac-comment)]">CMD:</span> Patch_Category
            </h1>
            <a href="{{ path('app_category_index') }}" class="text-[var(--color-drac-comment)] hover:text-[var(--color-drac-fg)] text-xs uppercase tracking-widest">Annuler_Commande</a>
        </div>

        {{ include('category/_form.html.twig', {'button_label': 'Commit_Classification_Patch'}) }}

        <div class="mt-10 pt-8 border-t border-[var(--color-drac-curr)]">
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
