{% extends 'base.html.twig' %}

{% block title %}Novo Nodo de Categoria - Terminal{% endblock %}

{% block body %}
<main class="flex-grow flex items-center justify-center p-6 bg-[var(--color-drac-bg)] font-mono text-[var(--color-drac-fg)]">
    <div class="w-full max-w-xl bg-[var(--color-drac-surface)] border border-[var(--color-drac-curr)] p-10 rounded-2xl shadow-2xl relative neon-border-cyan">
        <div class="mb-10 flex items-center justify-between border-b border-[var(--color-drac-curr)] pb-6">
            <h1 class="text-2xl font-bold text-[var(--color-drac-cyan)] uppercase tracking-tighter">
                <span class="text-[var(--color-drac-comment)]">CMD:</span> New_Category
            </h1>
            <a href="{{ path('app_category_index') }}" class="text-[var(--color-drac-comment)] hover:text-[var(--color-drac-fg)] text-xs uppercase tracking-widest">Abort_Command</a>
        </div>

        {{ include('category/_form.html.twig', {'button_label': 'Initialize_Category_Node'}) }}
    </div>
</main>
{% endblock %}
