<form method="post" action="{{ path('app_mission_status_delete', {'id': mission_status.id}) }}" onsubmit="return confirm('ALERTA: Remocao de nodo de ciclo de vida detectada. Confirmar purga definitiva?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission_status.id) }}">
    <button class="w-full py-2 border border-[var(--color-drac-red)]/40 text-[var(--color-drac-red)] text-xs font-mono rounded hover:bg-[var(--color-drac-red)] hover:text-[var(--color-drac-bg)] transition-all uppercase tracking-widest">
        Purge_Lifecycle_Node
    </button>
</form>
